.container {
    margin: 0 auto;
    width: 600px;
}
.list li {
    border: 1px solid #098;
    list-style: none;
    margin: 5px 0;
    padding: 10px 14px;
}
.list .name {
    font-size: 18px;
    display: inline-block;
    width: 60%;
}
input.name {
    border: none;
}
.list a {
    display: inline-block;
    float: right;
}
.sumCheck {
    float: right;
    margin-right: 32%;
}
form input {
    padding: 5px;
}
form button {
    padding: 4px 20px;
}
